@import 'reset';
@import 'utils';

* {
  box-sizing: border-box;
}

html {
  background-color: $black;
}

body {
  background-image: url('/img/waves.jpg');
  background-size: cover;
  padding: 0;
  margin : 0;
  font-family: $font-mono;
  font-size: $font-medium;
  line-height: $line-height;
  color: $white;
  min-height: 700px;
}

h1, h2, h3, p, li {
  margin: 0;
  font-size: $font-medium;
  line-height: $line-height;
  color: $white;
}

h1 {
  &:before {
    content: $hash $space;
    color: $teal;
  }
}

h2 {
  &:before {
    content: $hash $hash $space;
    color: $teal;
  }
}

p {
  margin: 0;
  font-size: $font-medium;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    font-size: $font-medium;
    line-height: $line-height;

    &:before {
      content: $asterisk $space;
      color: $violet;
    }
  }
}

a {
  color: $gold;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background-color: darken($gold, 10%);
    color: lighten($gold, 15%);
    background-color: lighten($gold, 20%);
    color: darken($gold, 25%);
  }
}


// Components

.document {
  text-align: center;
  width: 120px;
  position: relative;
  left: 15px;
  top: 15px;

  .icon {
    background: url('/img/document.png') center center no-repeat;
    width: 46px;
    height: 59px;
    display: inline-block;
  }

  .icon-wrapper {
    border: 2px solid transparent;
    padding: 6px 10px;
    display: inline-block;
    line-height: 0;
    margin-bottom: 2px;
  }

  .filename {
    display: inline-block;
    font-weight: bold;
    text-shadow: 0 1px 1px black;
    color: white;
    padding: 1px 3px;
  }

  &.is-selected {
    .icon-wrapper {
      border: 2px solid white(0.3);
      background-color: black(0.4);
      @include box-shadow(0 0 3px black(0.3));
      @include border-radius(3px);
    }

    .filename {
      background-color: white(0.3);
      @include border-radius(10px);
    }
  }
}

// Vim window

@mixin fullscreen() {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;

  .vim {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin-top: 26px;
  }

  .status-line {
    margin-bottom: 26px;
  }
}

.terminal {
  background: $black;
  background-color: black(0.7);
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -350px;
  @include box-shadow(0 10px 30px -5px black(0.7));
  @include border-radius($radius);
  overflow: hidden;

  &.fullscreen {
    @include fullscreen;
  }
}

.terminal-header {
  background-color: #EEEEEE;
  background-image: linear-gradient(to top,
    #CCCCCC, #F6F6F6);
  line-height: 1;
  padding: 5px 60px 5px 8px;
  text-align: center;
  color: darken($grey, 15%);
  text-shadow: 0 1px 0 white;
  cursor: default;

  .buttons {
    float: left;

    a {
      width: 12px;
      height: 12px;
      display: inline-block;
      @include border-radius(50%);

      &.green {
        @include button(#7DB76A, #BDE5A8);
      }

      &.orange {
        @include button(#F5BA66, #FDE9A5);
      }

      &.red {
        @include button(#FF615F, #FFAFAD);
      }
    }
  }
}

.terminal-body {
  padding: 3px;
}

.vim {
  position: relative;
  overflow: scroll;
  width: 700px;
  height: 520px;
  cursor: text;

  &.fullscreen {
    width: 100%;
    height: 100%;
  }

  .vim-body {
    padding: 5px 0 0 35px;
  }

  .numbers {
    position: absolute;
    padding: 5px 5px 5px 10px;
    top: 0;
    left: 0;
    color: $grey;
    text-align: right;
  }

  .no-content {
    color: $grey;
  }

  .status-line {
    position: fixed;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;

    .first {
      font-size: $font-medium;
      background-color: $grey;
      color: white;
    }
  }
}

.cursor {
  background-color: $grey;
  width: 7px;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media only screen and (max-width: 800px) {
  body {
    -webkit-text-size-adjust: none;
    min-height: none;
  }

  .terminal {
    @include fullscreen();
    @include border-radius(0);

    .terminal-header {
      display: none;
    }

    &, &.fullscreen {
      .vim {
        margin: 0;
      }
    }

    .status-line {
      background-color: $black;
      position: fixed;
      margin: 0;
    }
  }
}
