* {
  box-sizing: border-box;
}

html {
  background-color: $color-black;
}

body {
  padding: 0;
  margin : 0;
  font-family: $fontFamily-sans;
  font-size: 16px;
  line-height: $line-height;
  color: $color-white;
  height: 100%;
}

h1, h2, h3, p, li, .li {
  margin: 0;
  font-size: $fontSize-medium;
  line-height: $line-height;
  color: $color-white;
}

h1 {
  &:before {
    content: $hash $space;
    color: $color-teal;
  }
}

h2 {
  &:before {
    content: $hash $hash $space;
    color: $color-teal;
  }
}

p {
  margin: 0;
  font-size: $fontSize-medium;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li, .li {
  display: inline-block;
  font-size: $fontSize-medium;
  line-height: $line-height;

  &:before {
    content: $asterisk $space;
    color: $color-violet;
  }
}

a {
  color: $color-pink;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $color-pink;
  }
}

/*
@mixin fullscreen() {
  width: 100%;
  height: 100% !important;
  margin: 0;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  position: fixed;

  .vim {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}
*/

@media only screen and (max-width: 800px) {
  body {
    -webkit-text-size-adjust: none;
    min-height: 0;
  }

  .document {
    display: none;
  }

  .terminal {
    display: block !important;
    // @include fullscreen();
    @include border-radius(0);

    .terminal-header {
      display: none;
    }

    &, &.fullscreen {
      .vim {
        margin: 0;
      }
    }

    .status-line {
      background-color: $color-black;
      position: fixed;
      margin: 0;
    }
  }
}
