// Colors
$color-white:    #FFFFFF;
$color-smoke:    #F2F2F2;
$color-grey:     #BDBDBD;
$color-charcoal: #2B2B2B;
$color-black:    #000000;

$color-pink:     #FAA7F3;
$color-blue:     #0269D9;
$color-teal:     #48F3F3;
$color-aqua:     #4DFBAF;
$color-violet:   #7C81CD;
$color-green:    #28CA41;
$color-orange:   #FFBE2F;
$color-red:      #FF5F58;

// Symbols
$asterisk: "\0002A";
$hash:     "\00023";
$space:    "\000A0";

// Fonts
$fontFamily-sans: "Helvetica Neue", Arial, sans;
$fontFamily-mono: Menlo, Monaco, Courier, sans;

$fontSize-medium: 0.875rem; // 14px
$fontSize-small:  0.75rem;  // 12px

$line-height: 1.25;

// Other
$radius: 4px;
$radius-small: 4px;

// Padding units
$p1: (1rem/8);
$p2: (1rem/4);
$p3: (1rem/2);
$p4: (1rem);
$p5: (1rem * 2);
$p6: (1rem * 4);
$p7: (1rem * 8);

// Z-index
$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
