// Colors
$green  : #01A533;
$white  : #EAEAEA;
$black  : #000000;
$teal   : #48F3F3;
$violet : #7C81CD;
$cyan   : #5ED1ED;
$pink   : #FAA7F3;
$grey   : #777777;
$blue   : #86B0F0;
$gold   : #F0CA86;

$color-white: #FFFFFF;
$color-blue:  #0269D9;

// Symbols
$asterisk: "\0002A";
$hash: "\00023";
$space: "\000A0";

// Fonts
$font-large: 1.25rem;
$font-medium: 0.875rem;
$fontSize-small: 0.75rem;

$line-height: 1.25;
$font-mono: "Helvetica Neue", Menlo, Monaco, Courier, sans;

// Other
$radius: 4px;
$radius-small: 4px;

// Padding units
$p1: calc(1rem/8);
$p2: calc(1rem/4);
$p3: calc(1rem/2);
$p4: calc(1rem);
$p5: calc(1rem * 2);
$p6: calc(1rem * 4);
$p7: calc(1rem * 8);
