.vim {
  position: absolute;
  overflow: hidden;
  cursor: text;

  &.fullscreen {
    width: 100%;
    height: 100%;
  }

  .vim-body {
    padding: 5px;
  }

  .numbers {
    position: absolute;
    padding: 5px 5px 5px 10px;
    top: 0;
    left: 0;
    color: $color-grey;
    text-align: right;
    display: none;
  }

  .num {
    display: inline-block;
    color: $color-grey;
    width: 20px;
    text-align: right;
    margin-right: 10px;

    &.blank {
      text-align: left;
      margin-left: -5px;
    }
  }

  .line {
    display: inline;

    h1, h2, h3, p, li {
      display: inline;
    }
  }

  .no-content {
    color: $color-grey;
  }

}

.cursor {
  background-color: $color-grey;
  width: 7px;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.row {
  white-space: nowrap;
  overflow: hidden;
}

