@import 'globals';

.Line {
  overflow: hidden;
  display: flex;
}

.LineNumber {
  text-align: right;
  color: darken($color-grey, 10%);
  padding-right: $p3;
  width: 25px;
  min-width: 25px;
  
  @media only screen and (max-width: 460px) {
    visibility: hidden;
    width: 10px;
    min-width: 10px;
  }
}

.Content {
  flex: 1;
  color: $color-white;
}

.Header {
  color: $color-grey;
}

.HeaderSymbol {
  color: $color-teal;
}

.Bullet {
  color: $color-violet;
}
