body {
	background: #FFF;
}

#content {
	background: #FFF;
	border: none;
	box-shadow: none;
	margin-bottom: 20px;
	padding: 20px;
}

#nav, .side_link, a#emailme {
	display: none;
}

a {
	color: #111;
}