@import 'globals';

.Line {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.LineNumber {
  flex: 1;
  text-align: right;
  color: darken($color-grey, 10%);
  padding-right: $p3;
}

.Content {
  flex: 30;
  color: $color-white;
}

.Header {
  font-weight: bold;
}

.HeaderSymbol {
  color: $color-teal;
}

.Bullet {
  color: $color-violet;
}
