@import 'globals';
@import 'mixins';

.Vim {
  cursor: text;
  font-family: $fontFamily-mono;
  font-size: $fontSize-medium;
}

.StatusBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: $zIndex-2;
}

.StatusTop {
  padding: $p1;
  color: $color-aqua;
  background-color: $color-charcoal;
  white-space: nowrap;
}

.StatusBottom {
  padding: $p1;
  color: $color-grey;
  background-color: darken($color-charcoal, 15%);
  white-space: nowrap;
}

a:hover {
  cursor: pointer;
}
