@import 'globals';
@import 'mixins';

.Document {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include user-select(none);
}

.IconWrapper {
  border: 2px solid transparent;
  padding: 6px 10px;
  line-height: 0;
  margin-bottom: 2px;
}

.Filename {
  display: inline-block;
  font-weight: bold;
  font-size: $fontSize-small;
  text-shadow: 0 2px 6px black(0.6), 0 2px 6px black(0.6);
  color: $color-white;
  padding: $p1 $p2;
}

.Icon {
  @include retina-background-image('images/document', 'png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 59px;
  height: 59px;
  display: inline-block;
  box-shadow: 0 2px 3px -1px black(0.8);
  border-radius: 0 28px 0 0;
}

// Active state
.Document__isSelected {
  .IconWrapper {
    border: 2px solid white(0.2);
    background-color: black(0.5);
    border-radius: $radius-small;
  }

  .Filename {
    text-shadow: 0 1px 2px black(0.4);
    background-color: $color-blue;
    border-radius: $radius-small;
  }
}
