@import 'globals';
@import 'mixins';

$width: 700px;
$height: 500px;

.Terminal {
  position: absolute;
  top: 120px;
  left: 50%;
  width: $width;
  margin-left: ($width / -2);
  border-radius: $radius-small;
  overflow: hidden;
  box-shadow: 0 15px 30px 6px black(0.35);
  display: none;

  &.Terminal__isFullscreen {
    width: 100%;
    height: 100% !important;
    margin: 0;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    position: fixed;

    .Body {
      height: 100%;
    }
  }

  &.Terminal__isVisible {
    display: block;
  }
}

.Header {
  display: flex;
  // position: relative;
  z-index: $zIndex-3;
  background-color: $color-smoke;
  background-image: linear-gradient(to top, $color-smoke, lighten($color-smoke, 10%));
  line-height: 1;
  padding: 0.3rem 0.45rem;
  cursor: move;
  text-align: center;
  color: lighten($color-charcoal, 25%);
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
  font-size: $fontSize-medium;
  border-radius: $radius-small $radius-small 0 0;
  // border-bottom: 1px solid lighten($color-grey, 5%);
}

.Body {
  height: $height;
  background-color: black(0.5);
}

.Title {
  flex: 1;
  padding-right: 55px; // Roughtly centered
}

.Buttons {
  float: left;
  display: flex;
}
