@import 'mixins';
@import 'globals';

.App {
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  box-shadow: inset 0 0 40px black(0.15);
}

.Banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.85);
  color: $color-white;
  text-align: center;
  font-size: $fontSize-small;
  z-index: 1000;

  a {
    color: $color-white;
    font-weight: bold;
  }
}

.SourceLink {
  position: absolute;
  right: 30px;
  top: 56px;
  color: $color-white;
  font-weight: normal;
  font-size: $fontSize-medium;
  text-shadow: 0 1px 2px black(0.3);

  &:hover {
    border-color: $color-white;
  }
}
